{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>

<html lang="pt-br">
  <head>
    <link rel="stylesheet" href="{% static 'admin/css/estilo.css' %}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listagem de Produtos</title>
    <link rel="icon" type="image/png" href="{% static 'admin/img/box.png' %}">
    <style type="text/css">
      html {
        margin: 2%;
      }
    </style>
    {% bootstrap_css %} {% bootstrap_javascript %}
  </head>
  <body class="body_principal" >
    <div class="container mt-5">
      <h1 class="text-center fw-bold mb-4">📦 Listagem de Produtos</h1>
  
      <div class="table-responsive">
          <table class="table table-hover table-bordered align-middle text-center">
              <thead class="table-dark">
                  <tr>
                      <th> Nome do Produto</th>
                      <th> Ações</th>
                  </tr>
              </thead>
              <tbody>
                  {% for estoque in object_list %}
                  <tr>
                      <td class="fw-semibold">{{ estoque.produto }}</td>
                      <td>
                          <a href="{% url 'listar_produto' pk=estoque.id %}" class="btn btn-info btn-sm">
                              <i class="fas fa-eye"></i> Exibir
                          </a>
                          <a href="{% url 'editar_produto' pk=estoque.id %}" class="btn btn-warning btn-sm">
                              <i class="fas fa-edit"></i> Editar
                          </a>
                          <a href="{% url 'remover_produto' pk=estoque.id %}" class="btn btn-danger btn-sm">
                              <i class="fas fa-trash-alt"></i> Remover
                          </a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
    <a href="{% url 'form_estoque' %}" class="btn btn-primary"
      >Cadastrar um novo produto</a>
      <hr class="featurette-divider">      
    <footer class="rodape">
        <hr class="featurette-divider">
        <div class="container">
            <p class="mb-1">
              &copy; Desenvolvido pelos alunos Felipe e Gabriel &middot;
            </p>
            <p><a href="#" class="btn btn-link">Voltar ao topo</a></p>
        </div>
    </footer>
  </body>
</html>
